{% extends "base.html" %}

{% block title %}Add Emote{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data" class="p-2 form" aria-label="Add Emote Form">
        <h2 class="text-center" aria-label="Add Emote Title">Add Emote</h2>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="save_emote">
            <button type="submit" class="btn btn-primary mt-2" aria-label="Save Emote">Save</button>
        </div>
    </form>
</div>
{% endblock %}