{% extends "base.html" %}

{% block title %}Emotes{% endblock %}

{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-center">

    <!-- Filter Form using Emote categories context defined in view-->
    <form method="GET" action="{% url 'emotes' %}">
        <select name="category">
            <option value="">All Categories</option>
            {% for category, _ in emote_categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>
    
    <!-- Iterate through Emotes -->
    {% for emote in emotes %}
    <a href="{% url 'emote_detail' emote.id %}" class="emotes" aria-label="Click to view {{emote.title}}">
        <div class="card bg-dark m-2" style="max-width: 256px">
            <div class="emote-container">
                <img class="card-img-top emote-list-img" src="{{emote.emote_img.url}}" alt="Emote Image">
                <div class="card-body">
                    <p class="card-title">{{emote.title}}</p>
                    <p class="card-text">Creator: {{emote.user}}<p>
                    <p class="card-text emotes_category text-center {{ emote.category|lower|slugify }}">{{emote.category}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}