{% extends "base.html" %}

{% block title %}Emotes{% endblock %}

{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-center">

    {% for emote in emotes %}
    <a href="" class="emotes" aria-label="Click to view {{emote.title}}">
        <div class="card bg-dark m-2" style="max-width: 256px">
            <div class="emote-container">
                <img class="card-img-top emote-image" src="{{emote.emote_img.url}}" alt="Emote Image">
                <div class="card-body">
                    <h2 class="card-title">{{emote.title}}</h2>
                    <p class="card-text">Creator: {{emote.user}}<p>
                    <p class="card-text emotes_category text-center {{ emote.category|lower|slugify }}">{{emote.category}}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}