{% extends "base.html" %}

{% block title %}Emotes{% endblock %}

{% block content %}
<div class="list-container">
    <div class="favourites-title">
        <h2> My Emotes </h2>
    </div>

    <div class="content-container">
        {% if page_obj %}
        <div class="emotes-container">
            {% for emote in page_obj %}
            <a href="{% url 'emote_detail' emote.id %}" class="emotes" aria-label="Click to view {{emote.title}}">
                <div class="card bg-dark m-2" style="max-width: 256px">
                    <div class="emote-container">
                        <img class="card-img-top emote-list-img" src="{{emote.emote_img.url}}" alt="Emote Image">
                        <div class="card-body">
                            <p class="card-title">{{emote.title}}</p>
                            <p class="card-text">Creator: {{emote.user}}
                            <p>
                            <p class="card-text emotes_category text-center {{ emote.category|lower|slugify }}">
                                {{emote.category}}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <!-- Pagination links -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" aria-label="First page">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">Previous</a>
                {% endif %}
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last page">Last &raquo;</a>
                {% endif %}
                
                <br>
                <span class="current" aria-label="Current page">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            </span>
        </div>
        {% else %}
        <h3>You don't have any favourite Emotes</h3>
        {% endif %}
    </div>
</div>
{% endblock %}