{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container flex column">
    <section class="text-center">
        <h1> Welcome to Moteify</h1>
        <p>
            "Welcome to Moteify, your ultimate destination for emote sharing! Express yourself like never before with
            our vibrant community of creators and users. Whether you're looking to spice up your Twitch streams, add
            some flair to your Discord server, or simply want to discover the latest trending emotes, Moteify has you
            covered. Upload your own creations to share them with the world or explore a vast library of emotes crafted
            by talented individuals from
            around the globe. Join us in celebrating the endless possibilities of expression through emotes, and let
            your creativity shine!"
        </p>
    </section>
</div>
{% endblock %}