@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --- ROOT --- */
:root {
    /* Fonts Variables */
    --title-font: "Roboto", sans-serif;
    --main-font: "Nunito", sans-serif;

    /* Colors */
    --background: #161422;
    --background_light: #4D4D66;
    --purp_01: #301E67;
    --teal_02: #5B8FB9;
    --mint_03: #B6EADA;
    --off-white: #f6f6f6;
    --white-faded:#d8d8d8;
    --white: #fff;
    --black: #000;

    /* Utils */
    --small-box-shadow: 1px -1px 10px 0 #00000061;
    --border: 1px solid #00000030;

}

/* --- MAIN STYLING --- */

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--off-white);
    min-height: 100vh;
    background-color: var(--background_light);
}

h1, h2, h3, h4, h5, h6, .footer_h {
    font-family: var(--title-font);
    color: var(--white);
}

h1{
    font-size: 3rem;
}

main {
    display: flex;
}

.active {
    border-bottom: 2px solid var(--off-white);
    font-weight: 500;
}

/* --- HEADER --- */
.nav-container {
    display:flex;
    flex-direction: row;
    width:100%;
}

.navbar {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    display: flex;
    font-size:1.75rem;
    padding: 1rem;
}

/*align nav items left or right */
.nav-reg {
    justify-content: flex-end;
} 

/* add spacing and line to navbar items */
a.navbar-brand {
    margin-right: 1rem;
}
.navbar-nav .nav-item {
    border-right: 1px solid var(--off-white);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}

/* Remove border from the last navbar link */
.navbar-nav .nav-item:last-child {
    border-right: none;
}

a.nav-link {
    color: var(--off-white)
}

.logo {
    max-width: 200px;
    height: auto;
}

.search-btn {
    color: white;
    border-color: white;
}

.search-btn:hover {
    color: var(--mint_03);
    background-color: transparent; 
    border-color: var(--mint_03);
}

/* --- Form --- */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--off-white);
}

/*Targeting crispy form form-text class*/
.form-text {
    color: var(--white-faded);
}

/* --- EMOTES --- */

.card {
    margin-top:1rem;
    color: var(--off-white);
}

.emotes {
    text-decoration: none;
    color: var(--off-white)
}

.emotes_category{
    border: solid 1px white;
}

.emotes:hover {
    cursor: pointer;
}

.emote-container {
    width: 100%; /* Ensure image takes full width of container */
    max-width: 256px; /* Set maximum width */
    height: auto; /* Allow the height to adjust according to aspect ratio */
    overflow: hidden; /* Hide overflow if the image exceeds container size */
}

.emote-image {
    display: block; /* Ensure image is treated as a block element */
    width: 100%; /* Take full width of parent container */
    height: auto; /* Allow height to adjust according to aspect ratio */
}

/* --- Footer --- */
footer {
    background-color: var(--background);
    margin-top:auto;
    
}

.social-icon {
    color: var(--off-white);
} 

/* --- Categories --- */
.happy {
    color: #FFD700; 
    border: 1px solid #FFD700; 
}

.sad {
    color: #4169E1; /* Royal Blue */
    border: 1px solid #4169E1; /* Royal Blue */
}

.excited {
    color: #FF6347; /* Tomato */
    border: 1px solid #FF6347; /* Tomato */
}

.love {
    color: #FF69B4; /* Hot Pink */
    border: 1px solid #FF69B4; /* Hot Pink */
}

.angry {
    color: #FF4500; /* Orange Red */
    border: 1px solid #FF4500; /* Orange Red */
}

.laughing {
    color: #00FF7F; /* Spring Green */
    border: 1px solid #00FF7F; /* Spring Green */
}

.cry {
    color: #4682B4; /* Steel Blue */
    border: 1px solid #4682B4; /* Steel Blue */
}

.surprised {
    color: #9400D3; /* Dark Violet */
    border: 1px solid #9400D3; /* Dark Violet */
}

.confused {
    color: #8A2BE2; /* Blue Violet */
    border: 1px solid #8A2BE2; /* Blue Violet */
}

.thumbs-up-down {
    color: #32CD32; /* Lime Green */
    border: 1px solid #32CD32; /* Lime Green */
}

.celebration {
    color: #FFA500; /* Orange */
    border: 1px solid #FFA500; /* Orange */
}

.dance {
    color: #FF1493; /* Deep Pink */
    border: 1px solid #FF1493; /* Deep Pink */
}

.cool {
    color: #00FFFF; /* Cyan */
    border: 1px solid #00FFFF; /* Cyan */
}

.cute {
    color: #FFC0CB; /* Pink */
    border: 1px solid #FFC0CB; /* Pink */
}

.funny {
    color: #FFD700; /* Gold */
    border: 1px solid #FFD700; /* Gold */
}

.other {
    color: #808080; /* Gray */
    border: 1px solid #808080; /* Gray */
}
/* ------------------ */