{% extends 'base.html' %}

{% load static %}

{% block title %}Profile - {{Profile.user.username|default:'User' }}{% endblock %}

{% block content %}

    <div class="profile-container">
        
        <!-- Profile Picture -->
        <div class="profile-info text-center">
            <div class="profile_pic_container">
                {% if user_profile.profile_image %}
                <img src= "{{ user_profile.profile_image.url }}" alt="Profile Picture">
                {% else %}
                <img src="{{ user_profile.default_image.url }}" alt="Default Picture">
                {% endif %}
            </div>
        </div>

        <!-- Profile Username Display -->
        <div class ="profile-username text-center">
        <h1 class="section-title">{{ user_profile.user.username }}</h1>
        </div>

        <!--DEBUGING DEFAULT USER PROFILE PICTURE ISSUE-->
        <!-- <p><i> [This is for Debugging] </i></p>

        <p>Default Static Image:</p><img src="{% static 'img/user_default.png' %}" alt="Default Picture">
        <p>Default image url: {% static 'img/user_default.png' %}</p>
        <p>UserProfile URL:{{ user_profile.profile_image.url }}</p>

        <p><i> [End of Debugging] </i></p> -->
        <!----------------------------------------------->

        <!-- Profile Display Name-->
        <div class ="profile-info text-center">
            <h2>Display name:</h2>
            {% if user_profile.display_name %}
            {{ user_profile.display_name|safe }}
            {% else %}
            <p> | Click "Edit Profile" to add your Display name</p>
            {% endif %}
        </div>

        <!-- Profile Bio Display-->
        <div class="profile-info profile-bio text-center">
            <h2>Bio:</h2>
            {% if user_profile.bio %}
            {{ user_profile.bio|safe }}
            {% else %}
            <p>Click "Edit Profile" to add your bio.</p>
            {% endif %}
        </div>


        <!-- This form will  be within a Modal or another page to update your user profile on "Edit Profile Button"-->
        <br><br><br><br><br>
        <p><i> [This form will be in a modal or another page through "Edit Profile" on release but for now edit here] </i></p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <!------------------------------------------------------------------------------------------------>

    </div>
{% endblock %}