{% load static %}

<footer class="text-center">
    <!-- Social Icons -->
    <div class="container p-2">
    <a href="https://github.com/CianThornhill" target="_blank" rel="noopener" aria-label="Link - Opens in New tab">
        <i class="fa-brands fa-github social-icon" alt="Github Icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/thornsworks/" target="_blank" rel="noopener" aria-label="Link - Opens in New tab">
        <i class="fa-brands fa-linkedin social-icon" alt="LinkedIn Icon"></i>
    </a>
    <a href="https://www.artstation.com/thornworks" target="_blank" rel="noopener" aria-label="Link - Opens in New tab">
        <i class="fa-brands fa-artstation social-icon" alt="ArtStation Icon"></i>
    </a>
    </div>
    <!-- Copyright-->
    <div class="text-center p-1">
        <p class="text-center uppercase special-text">&copy; Copyright 2024
            <a href="https://github.com/CianThornhill" class="footer_h" target="_blank">Cian Thornhill</a>
        </p>
    </div>

</footer>