{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
          <!-- Logo -->
          <a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'img/logo_temp.png' %}" alt="Moteify Logo" class="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navigational Items-->
          <div class="collapse navbar-collapse nav-reg" id="navbarNav">
          
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home:home' %}">Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">Emotes</a>
              </li>

              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">My Emotes</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_emote' %}">Add Emote</a>
              </li>
              

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:profile_view' %}">My Profile</a>
              </li>

              <li class="nav-item">
              <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{% url 'account_logout' %}">Logout</a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{% url 'account_signup' %}">Register</a>
                </li>
              <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{% url 'account_login' %}">Login</a>
              </li>
              {% endif %}
          </ul>

          <!-- Search Bar-->
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline search-btn" type="submit">Search</button>
          </form>

        </div>
  </nav>
</header>