{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="list-container">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <br>
    <p class="text-center">{% blocktrans %}At this time, admin assistance is required to change your password while forgotten password implementation is resolved.
        <br> <br> If you wish for an admin to
        perform this action or to request manual account removal, please contact us at deterthtv@gmail.com. <br><br>
        Thank you for your understanding.{% endblocktrans %}</p>
</div>
{% endblock content %}